<section id="create-section">
    <h1 class="item">Register</h1>
    <div class="item padded">
        <main class="item padded align-center">


            <form class="layout left large" [formGroup]="form" (ngSubmit)="registerHandler()">
                
                <!-- TODO get errors -->
                <ng-container *ngIf="form.get('email')?.touched">
                    <div class="error-box" *ngIf="form.get('email')?.errors?.['required']">
                        <p>Email is required!</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="form.get('username')?.touched">
                    <div class="error-box" *ngIf="form.get('username')?.errors?.['required']">
                        <p>Username is required!</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="form.get('tel')?.touched">
                    <div class="error-box" *ngIf="form.get('tel')?.errors?.['required']">
                        <p>Telephone is required!</p>
                    </div>
                </ng-container>

                <ng-container *ngIf="form.get('password')?.touched">
                    <div class="error-box" *ngIf="form.get('password')?.errors?.['required']">
                        <p>Password is required!</p>
                    </div>
                </ng-container>


                <div class="col aligned">
                    <!-- email -->
                    <label for="email"><span>Email:</span>
                        <input formControlName="email" type="email" name="email" placeholder="peter@abv.bg">
                    </label>
                    <!-- username -->
                    <label for="username"><span>Username:</span>
                        <input formControlName="username" type="text" name="username" placeholder="Peter">
                    </label>
                    <!-- tel -->
                    <label for="tel"><span>Telephone:</span>
                        <input formControlName="tel" type="text" placeholder="+359885888888">
                    </label>
                    <!-- passwords -->
                    <label for="password"><span>Password:</span>
                        <input formControlName="password" type="password" name="password" placeholder="*****">
                    </label>
                    <!-- repass -->
                    <label for=""><span>Repeat:</span>
                        <input formControlName="rePassword" type="password" name="repass" placeholder="*****">
                    </label>
                </div>


                <div class="content pad-med align-center vertical">
                    <div class="align-center">
                        <button class="action">For Test</button>
                        <!-- <button class="action" [disabled]=form.invalid>Sign Up</button> -->
                    </div>
                </div>

            </form>
        </main>
        <footer>If you already have an account? <a routerLink="/auth/login">Sign in</a></footer>
    </div>
</section>