<section id="catalog-section" class="spaced">
    <h1 class="item">Games for Playstation 4</h1>

    <!-- SEARCH FORM -->
    <main class="item pad-large align-center">
        <form class="layout left large" method="get">
            <div class="col aligned">
                <label>
                    <span>Terms:</span>
                    <input type="search" name="search" placeholder="What you will search?" value="">
                </label>
            </div>

            <label> 
                <button class="action">Search</button>
            </label>
        </form>
    </main>


    <app-loader *ngIf="isLoading"></app-loader>
    <ng-container *ngIf="!isLoading">


        <!-- Catalog Card  -->
        <ul *ngFor="let game of games; let i = index" [attr.data-index]="i" class="catalog cards">
            <li *ngIf="games?.length" class="item">
                <header class="pad-med">
                    <h2>{{game.title}}</h2>
                </header>
                <main class="align-center">
                    <img class="img-thumb" src="{{game.imageUrl}}">
                </main>
                <footer class="align-center pad-med">
                    <p>Genre: {{game.genre}}</p>
                    <p>{{game.description | shorten : 25}}</p>
                    <strong>
                        <p>Price: {{game.price}}€</p>
                    </strong>
                    <a class="action" routerLink="/game/detail/{{game._id}}">Details</a>
                    <button class="action" (click)="addToFavorite(game._id)">Favorites</button>
                </footer>
            </li>
        </ul>


        <!-- Nothing has been listed yet -->
        <ng-container *ngIf="!games?.length">
            <main class="item pad-large align-center">
                <p>Nothing has been listed yet. Be the first!</p>
                <div>
                    <a class="action" routerLink="/game/create">Create</a>
                </div>
            </main>
        </ng-container>


    </ng-container>

</section>