
.catalog.cards {
    margin-left: -16px;
    margin-right: -16px;
}

/* TODO Get the right position */
 .catalog.cards::after {
    /* content: ""; */
    display: table;
    clear: both;
} 

.catalog.cards li {
    float: left;
    width: 284px;
    margin: 16px;
    margin-top: 0;
}

.catalog.cards li>main {
    height: 200px;
    overflow: hidden;
}

.catalog.cards h2 {
    height: 52px;
    overflow: hidden;
}

.catalog.cards footer {
    overflow: hidden;
}

/*search*/
.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
//   .search-game {
//     max-width: 500px;
//     padding-bottom: 50px;
//     margin:auto;
//   }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }