<form class="login" #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">

    <fieldset>
        <h2>Login Form</h2>

        <!-- email input -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input #emailInput="ngModel" ngModel required [appEmailValidator]="appEmailDomains"
            class="input-error" type="email" name="email" id="email" placeholder="john.doe@gmail.com">
        </p>
        

        <!-- errors -->
        <!-- {{emailInput.errors | json}} -->
        <!-- {{emailInput.errors?.['message'] | json}} -->
        <ng-container *ngIf="emailInput.touched">
            <p class="error" *ngIf="emailInput.errors?.['required']">
                Email is required!
            </p>
            <p class="error" *ngIf="emailInput.errors?.['customEmailValidator']">
                Email is not valid!
            </p>
        </ng-container>
            

        <!-- password input -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input #passwordInput="ngModel" ngModel required minlength="5"
            type="password" name="password" id="password" placeholder="******">
        </p>


        <!-- errors -->        
        <!-- {{passwordInput.errors | json}} -->
        <!-- {{passwordInput.errors?.['minlength']?.['requiredLength'] | json}} -->
        <ng-container *ngIf="passwordInput.touched">
            <p class="error" *ngIf="passwordInput.errors?.['passwordInput']">
                Password is required!
            </p>
            <p class="error" *ngIf="passwordInput.errors?.['minlength']">
                <!-- Password must be at least 4 characters! -->
                Password must be at least {{passwordInput.errors?.['minlength']?.['requiredLength'] | json}} characters!
            </p>
        </ng-container>



        <button [disabled]="loginForm.invalid">Login</button>


        <p class="text-center">
            Have an account? <a routerLink="/auth/register">Register</a>
        </p>


    </fieldset>
</form>
