<section id="catalog-section">
    <h1 class="item">{{game?.title}}</h1>
    <div class="item padded">
        <main class="layout right large">

            <div class="col">
                <img src="{{game?.imageUrl}}" alt="image.png" class="img-large">
            </div>

            <div class="content pad-med">
                <p>Genre: {{game?.genre}}</p>
                <p>{{game?.description}}</p>
                <div class="align-center">
                    <div>
                        <p>Price: {{game?.price}}€</p>
                    </div>         
                </div>


                <div class="align-center">
                    <ng-container *ngIf="isLoggedIn">
                        <button class="action" (click)="addHandler()">Favorites</button>
                        <a class="action" routerLink="/game/detail/edit/{{game?._id}}">Edit</a>
                        <button class="action" (click)="deleteHandler()">Delete</button>
                    </ng-container>
                </div>
            </div>
            
        </main>
        <footer>Listed by (TODO add owner)</footer>
    </div>
</section>