<header>


    <a routerLink="/" class="title-logo">
        <img src="/assets/img/splash.jpg">
        <span>
            <p>Visit our Home page</p>

        </span>
    </a>
    <span class="item">Welcome, Peter</span>




    <nav class="main-nav nav-mid">
        <ul>
            <li>
                <a routerLink="/game/catalog">Catalog</a>
            </li>

            <li>
                <a routerLink="/game/create">Create</a>
            </li>
            <!-- <li>
                <a routerLink="game/facility/create">Create Facility</a>
            </li> -->
            <li>
                <a routerLink="/auth/logout">Logout</a>
            </li>

            <li>
                <a routerLink="/auth/login">Login</a>
            </li>
            <li>
                <a routerLink="/auth/register">Register</a>
            </li>

        </ul>
    </nav>
</header>