<header>


    <a routerLink="/" class="title-logo">
        <img src="/assets/img/splash.jpg">
        <span>
            <p>Visit Home</p>
        </span>
    </a>


    <ng-container *ngIf="isLoggedIn">
        <span class="item">Welcome, {{user?.username | titlecase}}</span>
    </ng-container>




    <nav class="main-nav nav-mid">
        <ul>

            <!-- guest navigation -->
            <ng-container *ngIf="!isLoggedIn">
                <li>
                    <a routerLink="/game/catalog">Catalog</a>
                </li>
                <li>
                    <a routerLink="/auth/login">Login</a>
                </li>
                <li>
                    <a routerLink="/auth/register">Register</a>
                </li>
            </ng-container>

            <!-- user navigation -->
            <ng-container *ngIf="isLoggedIn">
                <li>
                    <a routerLink="/game/catalog">Catalog</a>
                </li>
                <li>
                    <a routerLink="/game/create">Create</a>
                </li>
                <li>
                    <a routerLink="/auth/profile">Profile</a>
                </li>
                <li>
                    <a routerLink="/auth/logout">Logout</a>
                </li>
            </ng-container>



        </ul>
    </nav>
</header>