<section id="create-section">
    <h1 class="item">Hello, please enter new game.</h1>
    <main class="item padded align-center">



        <form class="layout left large" #form="ngForm" (ngSubmit)="createHandler(form)">

            <!-- {{titleInput.errors | json}} -->
            <!-- {{titleInput.errors?.['message'] | json}} -->
                     
            
            <!-- errors -->
            <ng-container *ngIf="titleInput.touched">
                <div class="error-box" *ngIf="titleInput.errors?.['required']  || titleInput.errors?.['minlength']">              
                    <p>Title is required!</p>             
                </div>
            </ng-container>
        
            <ng-container *ngIf="genreInput.touched">
                <div class="error-box" *ngIf="genreInput.errors?.['required'] || genreInput.errors?.['minlength']">              
                    <p>Genre is required!</p>             
                </div>
            </ng-container>

            <ng-container *ngIf="priceInput.touched">
                <div class="error-box" *ngIf="priceInput.errors?.['required']  || priceInput.errors?.['minlength']">              
                    <p>Price is required!</p>             
                </div>
            </ng-container>
        
            <ng-container *ngIf="imageInput.touched">
                <div class="error-box" *ngIf="imageInput.errors?.['required'] || imageInput.errors?.['minlength']">              
                    <p>Image url is required!</p>             
                </div>
            </ng-container>

            <ng-container *ngIf="descriptionInput.touched">
                <div class="error-box" *ngIf="descriptionInput.errors?.['required'] || descriptionInput.errors?.['minlength']">              
                    <p>Description is required!</p>             
                </div>
            </ng-container>
          


            <div class="col aligned">

                <label class="vertical" for="title"><span>Title</span>
                    <input #titleInput="ngModel" ngModel required minlength="3"
                     type="text" name="title" placeholder="Grand Theft Auto V">
                </label>

                <label for="genre"><span>Genre</span>
                    <input #genreInput="ngModel" ngModel required minlength="3"
                    type="text" name="genre" placeholder="Action">
                </label>

                <label for="price"><span>Price</span>
                    <input #priceInput="ngModel" ngModel required
                     type="number" name="price">
                </label>              

                <label for="imageUrl"><span>Image Url</span>
                    <input #imageInput="ngModel" ngModel required
                     type="text" name="imageUrl"  placeholder="https://">
                </label>

            </div>

      

            <div class="content pad-med align-center vertical">
                <label for="description">
                    <span>Description</span>
                    <textarea #descriptionInput="ngModel" ngModel required minlength="10"
                     name="description" cols="30" rows="4" placeholder="Grand Theft Auto (usually abbreviated GTA) is a series of games that incorporate driving and action gameplay styles."></textarea>
                </label>

              
                <div class="align-center">
                    
                    <button class="action" [disabled]="form.invalid">Create</button>
                                     
                </div>
            </div>


        </form>
    </main>
</section>