<section id="create-section">

    <h1 class="item">Login</h1>
    <div class="item padded">


    <main class="item padded align-center">

        <form class="layout left large" action="/auth/login" method="post">

            {{#if error}}
            <div class="error-box">
                {{#each error}}
                {{!-- If we have strings. We can use this --}}
                <p>{{this}}</p>
                {{/each}}
            </div>
            {{/if}}

            <div class="col aligned">
                <label for=""><span>Username</span><input type="text" name="username"></label>
                <label for=""><span>Password</span><input type="password" name="password"></label>
            </div>


            <div class="content pad-med align-center vertical">
                <div class="align-center">
                    <input class="action" type="submit" value="Sign in">
                </div>
            </div>


        </form>
    </main>
        <footer>If you don't have an account? <a href="/auth/register">Sign up here</a></footer>

    </div>
</section>