<form class="register" [formGroup]="registerForm" (ngSubmit)="registerHandler()">

    <fieldset>
        <h2>Registration Form</h2>

        <!-- To see data from the fields when working on the template -->
        <!-- {{registerForm.value | json}} -->
        
        <!-- username -->
        <p class="field field-icon">
            <label for="username"><span><i class="fas fa-user"></i></span></label>
            <input formControlName="username"
             class="input-error" type="text" id="username" placeholder="Johny">
        </p>

        <!-- username errors -->
        <!-- {{registerForm.get('username')?.errors | json}} -->
        <p class="error" 
            *ngIf="registerForm.get('username')?.touched && registerForm.get('username')?.errors">
            Username is required!
        </p>



        <!-- email -->
        <p class="field field-icon">
            <label for="email"><span><i class="fas fa-envelope"></i></span></label>
            <input formControlName="email"
            type="email" id="email" placeholder="john.doe@gmail.com">
        </p>

        <!-- email errors-->
        <!-- {{registerForm.get('email')?.errors | json}} -->
        <ng-container *ngIf="registerForm.get('email')?.touched">
           <p class="error"  *ngIf="registerForm.get('email')?.errors?.['required']">
               Email is required!
           </p>
           <p class="error" *ngIf="registerForm.get('email')?.errors?.['customEmailValidator']">
               Email is not valid!
           </p>
       </ng-container>



        <!-- telephone -->
        <p class="field field-icon">
            <label for="tel"><span><i class="fas fa-phone"></i></span></label>
            <select formControlName="prefix" id="select-tel" class="tel">
                <option value="00359">+359</option>
                <option value="00358">+358</option>

            </select>
            <input formControlName="tel"
             type="text" name="tel" id="tel" placeholder="885 888 888">
        </p>


        <ng-container  formGroupName="pass">            
        <!-- password -->
        <p class="field field-icon">
            <label for="password"><span><i class="fas fa-lock"></i></span></label>
            <input formControlName="password"
             type="password" id="password" placeholder="******">
        </p>

        
        
        <!-- password errors-->
        <!-- {{registerForm.get('pass')?.get('password')?.errors | json}} -->
        <ng-container *ngIf="registerForm.get('pass')?.get('password')?.touched">
            <p class="error" *ngIf="registerForm.get('pass')?.get('password')?.errors?.['required']">
                Password is required!
            </p>
            <p class="error" *ngIf="registerForm.get('pass')?.get('password')?.errors?.['minlength']">
                Password must be at least 5 characters!
            </p>
        </ng-container>


        <!-- rePassword -->
        <p class="field field-icon">
            <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
            <input formControlName="rePassword" 
             type="password" id="rePassword" placeholder="******">
        </p>

         <!-- rePassword errors-->
        <p class="error" 
          *ngIf="registerForm.get('pass')?.errors?.['sameValueGroupValidator']
           && registerForm.get('pass')?.get('rePassword')?.touched">
            Repeat Password does not match password!
        </p>
       </ng-container>


        <button [disabled]=registerForm.invalid>Create Account</button>
        


        <p class="text-center">
            Have an account?
            <a routerLink="/auth/login">Log In</a>
        </p>

    </fieldset>
</form>